SECRET_KEY=uul8_3c%_+2a84-5+xp)2)5gs7qw83*ed+c&q28x0d7#&)5+r4
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,fintrack.local

# PostgreSQL (раскомментируй для продакшена)
# DB_NAME=fintrack
# DB_USER=postgres
# DB_PASSWORD=securepassword
# DB_HOST=localhost
# DB_PORT=5432

# Email (для уведомлений о бюджетах)
# EMAIL_HOST=smtp.yandex.ru
# EMAIL_PORT=465
# EMAIL_HOST_USER=your@email.ru
# EMAIL_HOST_PASSWORD=app-password
# EMAIL_USE_SSL=True